html, body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    background-color: #011627;
}

header{
    text-align: left;
    color: #AEB8FE;
    
}

/*there is a 10000000000000000000000000% a better way to do this but im already down the rabbit hole so
\('^')/     */
/*The CSS for the bars and overlay*/

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.bar{
  width: 105%;
  height: 105%;
  background: #002a32;
  z-index: 1;
  pointer-events: none;
}
marquee {
  border-bottom: #758BFD solid 2px;
  border-top: #758BFD solid 2px;
  max-width: 25vw;
  margin-top: 20px;
  margin-bottom: -4px;
  padding-bottom: 3vh;
  padding-top: 3vh;
  
  font-size: 3rem;
  font-style:50px;
  font-weight: 9000;
}

#world {
	width: 500px;
	height: 500px;
  margin: 0 auto 0 auto;
  position: relative;
  transform: translateY(50%);
}

.currentlistening{
  display: inline;
  position: absolute;
  border-bottom: #758BFD solid 2px;
  border-top: #758BFD solid 2px;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-right: 1vw;
  
}

.currentlistening a{
  text-decoration: none;
  margin-left: 2vw;
  color: #4CE6CC;
  
  font-size: .7vw;
}


.about{
  margin-top: 10vh;
 margin-left: 15vw; 
 margin-right:60vw ;
 padding-bottom: 10vh;
 color: white;
 display: block;
}

.currentlistening a:hover{
  color: #FBDCE2;
}


  
  
  @keyframes early 
  { from { opacity:1; } to { opacity:0; } }
  
  .early {
      animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  
      animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  
      animation-duration:1s;
      animation-delay: 1.5s
  }

  .sidebar {
    width: 210px;
    height: 100%;
    background-color: #5f6cad4e;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
 }
  .sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
 }
  .sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255,255,255,0.05);
 }
  .sidebar #leftside-navigation ul li.active ul {
    display: block;
 }
  .sidebar #leftside-navigation ul li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 25px;
    font-size: 16px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
 }
  .sidebar #leftside-navigation ul li a:hover {
    color: #1abc9c;
 }
  .sidebar #leftside-navigation ul li a span {
    display: inline-block;
 }
  .sidebar #leftside-navigation ul li a i {
    width: 20px;
 }
  .sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
 }
  .sidebar #leftside-navigation ul ul {
    display: none;
 }
  .sidebar #leftside-navigation ul ul li {
    background: #515c928c;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
 }
  .sidebar #leftside-navigation ul ul li a {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
 }
  
 .carouselcontainer{
  margin-left: 55vw;
  margin-top: -610px;
  width: 40vw;
  
 }

.carousel {
  position: relative;
}

.carousel-cell {
  width: 60%;
  height: 50vh;
  border-radius: 5px;
  margin: 40px;

}

/* cell number */
.carousel-header {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

footer {
  position: absolute;
  text-align: center;      
  width: 98vw;                                      
  margin-bottom: 0;  
  margin-top: 22vh;    
  border-top: solid 2px #758BFD; 
  z-index: 2;     
  padding-bottom: 13vh;
  background-color: #011627 ;
}

footer p {
  
  background-color: #011627 ;
}